<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Digital Frontier</title>
	<link rel="stylesheet" href="../static/stylesheets/style.css">
</head>
<body>
	<header class="banner-image">
		<nav>
			<div class="logo">
                <a href="index.html"><img src="../static/images/logo.png" alt="Digital Frontier"></a>
			</div>
			<ul class="nav-links">
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="services.html">Services</a></li>
				<li><a href="portfolio.html">Portfolio</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
			<div class="burger">
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
			</div>
		</nav>
	</header>
    <section class="about" id="about">
        <div class="max-width">
            <h2 class="title">About Us</h2>
            <div class="about-content">
                <div class="column left">
                    <img src="../static/images/app.jpeg" alt="about">
                </div>
                <div class="column right">
                    <div class="text">
                        <p>Welcome to Digital Frontier, a leading web design and mobile app development company based in Ireland. With plenty of experience, we specialize in providing exceptional digital solutions to businesses of all sizes.</p>

                            <p>Our goal is to help our clients succeed online by providing them with innovative and effective web design and development, mobile app design and development, and digital marketing services. Whether you're looking to launch a new website or mobile app, or you want to enhance your online presence with effective digital marketing strategies, we've got you covered.
                            
                            <p>At Digital Frontier, we believe that every business is unique, and that's why we take a customized approach to every project we undertake, so we can deliver customized solutions that meet their specific requirements.
                            From start to finish, we're committed to delivering exceptional quality and outstanding results. We use the latest tools and technologies to ensure that our solutions are both effective and efficient.</p>
                            <p>Thank you for considering Digital Frontier for your web design, mobile app design, and digital marketing needs. We look forward to working with you and helping you succeed online.</p>
                    </div>
                    <a href="portfolio.html" class="btn">Learn More</a>
                </div>
            </div>
        </div>
    </section>
</body>
<footer>
	<div class="max-width">
		<div class="footer-content">
			<div class="footer-section contact-form">
				<h2>Contact Us</h2>
				<form action="https://formsubmit.co/darraghmurphy.cs@gmail.com" method="POST"">
                    <input type="email" name="email" class="text-input contact-input" placeholder="Your email address">
                    <input type="name" name="name" class="text-input contact-input" placeholder="Your Name">
                    <textarea name="message" class="text-input contact-input" placeholder="Your message"></textarea>
                    <button type="submit" class="btn btn-big contact-btn">
                        <span>Send</span>
                    </button>
                </form>
                <img src="../static/images/logo.png">
			</div>
		</div>
		<div class="footer-bottom">
			&copy; 2023 Digital Frontier | Designed by Digital Frontier 
		</div>
	</div>
</footer>