<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Digital Frontier</title>
	<link rel="stylesheet" href="../static/stylesheets/style.css">
</head>
<body>
	<header class="banner-image">
		<nav>
			<div class="logo">
                <a href="index.html"><img src="../static/images/logo.png" alt="Digital Frontier"></a>
			</div>
			<ul class="nav-links">
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="services.html">Services</a></li>
				<li><a href="portfolio.html">Portfolio</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
			<div class="burger">
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
			</div>
		</nav>
	</header>    
</body>
<footer>
	<div class="max-width">
		<div class="footer-content">
			<div class="footer-section contact-form">
				<h2>Contact Us</h2>
				<form action="https://formsubmit.co/darraghmurphy.cs@gmail.com" method="POST"">
                    <input type="email" name="email" class="text-input contact-input" placeholder="Your email address">
                    <input type="name" name="name" class="text-input contact-input" placeholder="Your Name">
                    <textarea name="message" class="text-input contact-input" placeholder="Your message"></textarea>
                    <button type="submit" class="btn btn-big contact-btn">
                        <span>Send</span>
                    </button>
                </form>
                
                <img src="../static/images/logo.png">
			</div>
		</div>
		<div class="footer-bottom">
			&copy; 2023 Digital Frontier | Designed by Digital Frontier 
		</div>
	</div>
</footer>