<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Digital Frontier</title>
	<link rel="stylesheet" href="../static/stylesheets/style.css">
</head>
<body>
	<header class="banner-image">
		<nav>
			<div class="logo">
                <a href="index.html"><img src="../static/images/logo.png" alt="Digital Frontier"></a>
			</div>
			<ul class="nav-links">
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="services.html">Services</a></li>
				<li><a href="portfolio.html">Portfolio</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
			<div class="burger">
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
			</div>
		</nav>
	</header>
	<section>
		<h1>Portfolio</h1>
	</section>
	<section id="portfolio">
        <div class="portfolio-item">
          <img src="../static/images/Screenshot 2023-05-06 at 11.51.21.png" alt="Portfolio Item 1">
          <h3>SEDI Mobile App</h3>
          <p>An interactive mobile app created for SEDI, (Self Employed Deititians of Ireland), with the purpose of helping both patients and corporate clients find exactly what they're looking for.</p>
        </div>
        <div class="portfolio-item">
          <img src="../static/images/Screenshot 2023-05-06 at 11.57.53.png" alt="Portfolio Item 2">
          <h3>Titan Sound and Media</h3>
          <p>Created an eye catching website for business, Titan Sound and Media. <a href="https://www.titansoundandmedia.com/">www.titansoundandmedia.com</a></p>
        </div>
        <div class="portfolio-item">
          <img src="../static/images/Screenshot 2023-05-06 at 11.59.17.png" alt="Portfolio Item 3">
          <h3>APEX Gym Apparel</h3>
          <p>Online E-commerce store for fitness brand Apex.</p>
        </div>
      </section>
</body>
<footer>
	<div class="max-width">
		<div class="footer-content">
			<div class="footer-section contact-form">
				<h2>Contact Us</h2>
				<form action="https://formsubmit.co/darraghmurphy.cs@gmail.com" method="POST"">
                    <input type="email" name="email" class="text-input contact-input" placeholder="Your email address">
                    <input type="name" name="name" class="text-input contact-input" placeholder="Your Name">
                    <textarea name="message" class="text-input contact-input" placeholder="Your message"></textarea>
                    <button type="submit" class="btn btn-big contact-btn">
                        <span>Send</span>
                    </button>
                </form>
                <img src="../static/images/logo.png">
			</div>
		</div>
		<div class="footer-bottom">
			&copy; 2023 Digital Frontier | Designed by Digital Frontier 
		</div>
	</div>
</footer>
