<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Digital Frontier</title>
	<link rel="stylesheet" href="../static/stylesheets/style.css">
</head>
<body>
	<header class="banner-image">
		<nav>
			<div class="logo">
                <a href="index.html"><img src="../static/images/logo.png" alt="Digital Frontier"></a>
			</div>
			<ul class="nav-links">
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="services.html">Services</a></li>
				<li><a href="portfolio.html">Portfolio</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
			<div class="burger">
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
			</div>
		</nav>
	</header>    
    
	<section class="services" id="services">
		<div class="max-width">
			<h2 class="title">Our Services</h2>
			<div class="serv-content">
				<div class="card">
					<div class="box">
						<i class="fas fa-paint-brush"></i>
						<div class="text">User experience (UX) design</div>
						<p>Creating a positive user experience for digital products.</p>
					</div>
				</div>
                <div class="card">
					<div class="box">
						<i class="fas fa-code"></i>
						<div class="text">Mobile App Design</div>
						<p>Create innovative mobile apps to help your brand reach a wider range of audience</p>
					</div>
				</div>
				<div class="card">
					<div class="box">
						<i class="fas fa-chart-line"></i>
						<div class="text">Digital Marketing</div>
						<p>We help businesses establish a strong online presence.</p>
					</div>
				</div>
				<div class="card">
					<div class="box">
						<i class="fas fa-paint-brush"></i>
						<div class="text">Responsive Website Design</div>
						<p>We create visually stunning and user-friendly websites that reflect your brand identity.</p>
					</div>
				</div>
				<div class="card">
					<div class="box">
						<i class="fas fa-chart-line"></i>
						<div class="text">E-commerce Website Wesign</div>
						<p>We help businesses establish a strong online websites that sells products or services online.</p>
					</div>
                </div>
                <div class="card">
					<div class="box">
						<i class="fas fa-code"></i>
						<div class="text">Content Management Systems </div>
						<p>We specialize in developing custom websites and platforms for managing digital content</p>
					</div>
				</div>
        </div>
    </section>
</body>
<footer>
	<div class="max-width">
		<div class="footer-content">
			<div class="footer-section contact-form">
				<h2>Contact Us</h2>
				<form action="https://formsubmit.co/darraghmurphy.cs@gmail.com" method="POST"">
                    <input type="email" name="email" class="text-input contact-input" placeholder="Your email address">
                    <input type="name" name="name" class="text-input contact-input" placeholder="Your Name">
                    <textarea name="message" class="text-input contact-input" placeholder="Your message"></textarea>
                    <button type="submit" class="btn btn-big contact-btn">
                        <span>Send</span>
                    </button>
                </form>
                <img src="../static/images/logo.png">
			</div>
		</div>
		<div class="footer-bottom">
			&copy; 2023 Digital Frontier | Designed by Digital Frontier 
		</div>
	</div>
</footer>